html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.search-wrapper {
  display: flex;
  align-items: center;
}
.toggle-list {
  list-style-type: none;
  display: flex;
}
.toggle-list li {
  margin-right: 10px;
  cursor: pointer;
}
.grid-view {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  text-align: center;
  overflow: auto;
  padding: 20px;
}

.item-wrapper {
  border: 1px solid;
  padding: 20px;
}
.image-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabimage-wrapper {
  width: 100px;
  height: 100px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.table-view {
  padding: 20px;
}

.hide {
  display: none !important;
}
.show {
  display: block;
}
.active {
  color: blue;
  text-decoration: underline;
}

.table-scroll {
  display: block;
  empty-cells: show;

  /* Decoration */
  border-spacing: 0;
  border: 1px solid;
}

.table-scroll thead {
  background-color: #f1f1f1;
  position: relative;
  display: block;
  width: 100%;
  overflow-y: scroll;
}

.table-scroll tbody {
  /* Position */
  display: block;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  /* Decoration */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.table-scroll tr {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
}

.table-scroll td,
.table-scroll th {
  flex-basis: 100%;
  flex-grow: 2;
  display: block;
  padding: 1rem;
  text-align: left;
}

/* Other options */

.table-scroll.small-first-col td:first-child,
.table-scroll.small-first-col th:first-child {
  flex-basis: 20%;
  flex-grow: 1;
}

.tbody-wrapper {
  max-height: 75vh;
}

.small-col {
  flex-basis: 10%;
}

.arrow-outer{
    margin-left: 10px;
    margin-top: 3px;
}
.up-arrow {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-bottom: solid 7px black;
    border-top-width: 0;
    cursor: pointer;
}

.down-arrow {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-top: solid 7px black;
    border-bottom-width: 0;
    margin-top:1px;
    cursor: pointer;
}

#loader{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  background: white;
  opacity: 0.5;
}

.name-table{
  display: flex  !important;
  cursor: pointer;
}